@{
  
}

<div class="container mt-5 text-center">
    <h2 class="text-success">Đặt hàng thành công 🎉</h2>
    <p>Cảm ơn bạn đã mua hàng!</p>

    <a asp-controller="Home" asp-action="Index" class="btn btn-dark">
        Về trang chủ
    </a>
</div>