@{
  
}

<div class="container mt-5 text-center">
    <h2 class="text-success">Đặt hàng thành công 🎉</h2>
    <p>Cảm ơn bạn đã mua hàng!</p>

    <a asp-controller="DonHang" asp-action="MyOrders" class="btn btn-dark">
        Xem đơn hàng của tôi
    </a>
</div>