@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Đặt lại mật khẩu thành công";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-6 text-center">
        <h1 class="text-success mb-4"><i class="fa fa-check-circle"></i> @ViewData["Title"]</h1>
        <p class="lead">
            Mật khẩu của bạn đã được đặt lại thành công. Vui lòng <a asp-page="./Login">đăng nhập</a> với mật khẩu mới.
        </p>
    </div>
</div>
