@model IEnumerable<BanHang.Models.DanhMuc>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
        SẢN PHẨM
    </a>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" asp-controller="Home" asp-action="Index">
                TẤT CẢ SẢN PHẨM
            </a>
        </li>

        @foreach (var item in Model)
        {
            <li>
                <a class="dropdown-item"
                       asp-controller="Home"
                       asp-action="Index"
                       asp-route-maDanhMuc="@item.MaDanhMuc">
                    @item.TenDanhMuc
                </a>
            </li>
        }
    </ul>
</li>