<link href="~/css/Cuahang.css" rel="stylesheet" />
<div class="container mt-4">

    <h2 class="mb-4">Hệ thống cửa hàng</h2>

    <div class="row">

        <!-- Store 1 -->
        <div class="col-md-6 mb-4">
            <div class="border p-3 rounded shadow-sm">
                <h5>Showroom Gia Lai</h5>
                <p>Thôn 1, Xã Bàu Cạn, Tỉnh Gia Lai</p>
                <p>Hotline: 096 8850604</p>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d242.1357307748745!2d107.89911594743576!3d13.828726728286712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x316c250ecedb374f%3A0xbcb8ebd691d4d399!2zTuG7mWkgVGjhuqV0IEjGsG5nIEjhuqFuaA!5e0!3m2!1svi!2s!4v1774601111033!5m2!1svi!2s"
                        width="100%"
                        height="250"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                </iframe>

            </div>
        </div>

    </div>

</div>